/* =========================
   ROOT
========================= */

:root {
  --color-primary: #4d5ae5;
  --color-primary-pressed: #404bbf;

  --color-dark: #2e2f42;
  --color-success: #31d0aa;

  --color-text: #434455;
  --color-subtle-text: #8e8f99;

  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;

  --color-overlay: #2e2f4266;

  --color-hero-bg: rgba(46, 48, 66, 0.7);

  --color-white: #ffffff;
  --color-modal-bg: #fcfcfc;
}

/* =========================
   RESET
========================= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* =========================
   BASE
========================= */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--color-text);
  background-color: var(--color-modal-bg);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* =========================
   LAYOUT
========================= */

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* =========================
   TYPOGRAPHY
========================= */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-web {
  color: var(--color-primary);
}

.logo-studio {
  color: var(--color-dark);
}

#footer .logo-studio {
  color: var(--color-light);
}

.contact-link,
.feature-text,
.team-role,
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;

  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--color-dark);
}

.feature-title,
.team-name,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--color-dark);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--color-accent);

  max-width: 264px;
}

.small-text {
  font-size: 12px;
  line-height: 0.88;
  letter-spacing: 0.04em;
  color: var(--color-subtle-text);
}

.link {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.04em;

  text-decoration: underline;
}

/* =========================
   HEADER
========================= */

#header {
  border-bottom: 1px solid var(--color-accent);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =========================
   NAVIGATION
========================= */

nav {
  display: flex;
  align-items: center;
  margin-right: 332px;
}

nav ul {
  display: flex;
  gap: 40px;
}

.logo {
  margin-right: 76px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--color-dark);

  display: block;
  position: relative;

  padding: 24px 0;
}

.nav-link,
.contact-link {
  text-decoration: none;
}

.current {
  color: var(--color-primary);
}

.current::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--color-primary);

  border-radius: 2px;
}

.nav-link:hover,
.contact-link:hover {
  color: var(--color-primary-pressed);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address {
  display: flex;
  gap: 40px;
}

/* =========================
   BUTTONS
========================= */

.button-text {
  display: block;

  margin: 0 auto;
  padding: 16px 32px;

  border-radius: 4px;
  border: none;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  color: var(--color-white);
  background-color: var(--color-primary);
}

.button-text:hover {
  background-color: var(--color-primary-pressed);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========================
   HERO SECTION
========================= */

.hero-section {
  background-color: var(--color-dark);
  color: var(--color-white);

  padding: 188px 0;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);

  background-position: center;
  background-size: cover;

  max-width: 1440px;
  margin: 0 auto;
}

.hero-section .container {
  text-align: center;
}

/* =========================
   FEATURES SECTION
========================= */

.features-section ul {
  display: flex;
  gap: 24px;
}

.features-section li {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  margin-bottom: 8px;
}

.icon-box {
  height: 112px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-light);

  border: 1px solid var(--color-subtle-text);
  border-radius: 4px;

  margin: 8px 0;
}

.icon-box svg {
  fill: var(--color-dark);
}

/* =========================
   TEAM SECTION
========================= */

.team-section {
  background-color: var(--color-light);
}

.team-section .section-title {
  text-align: center;
  margin-bottom: 72px;
}

.team-section ul {
  display: flex;
  gap: 24px;
}

.team-section li {
  background-color: var(--color-white);
}

.team-section img {
  display: block;
  width: 100%;
  height: auto;
}

.team-card {
  width: calc((100% - 72px) / 4);

  background-color: var(--color-white);

  border-radius: 0 0 4px 4px;

  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-content {
  padding: 32px 0;

  text-align: center;
}

.team-name {
  margin-bottom: 8px;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-socials li {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-light);
  background-color: var(--color-primary);

  border-radius: 50%;

  overflow: hidden;
}

.social-link:hover {
  background-color: var(--color-primary-pressed);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link svg {
  fill: var(--color-light);
}

/* =========================
   PORTFOLIO SECTION
========================= */

.portfolio-section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-section li {
  width: calc((100% - 48px) / 3);
}

.portfolio-section .section-title {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-section .card-content {
  padding: 32px 16px;

  border-bottom: 1px solid var(--color-accent);

  text-align: left;
}

.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 40px 32px;

  background-color: #4d5ae5;
  color: #f4f4fd;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* =========================
   FOOTER
========================= */

#footer {
  background-color: var(--color-dark);

  padding: 100px 0;
}

#footer .logo {
  display: inline-block;

  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-box {
  margin-right: 120px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--color-white);

  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list li {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: var(--color-primary);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-success);
}

.footer-social-link svg {
  fill: var(--color-light);
}
.footer-social-box {
  margin-bottom: 32px;
  margin-right: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-text {
  color: var(--color-white);
  margin-bottom: 16px;
}

.footer-input {
  width: 264px;
  height: 40px;

  border: 1px solid var(--color-white);
  border-radius: 4px;

  background-color: transparent;
  color: var(--color-white);

  padding-left: 16px;

  box-shadow: 0px 4px 4px 0px #00000026;
  font-size: 12px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.footer-input:focus{
  border-color: var(--color-success);
}

.footer-input::placeholder {
  color: var(--color-white);
}

.footer-btn {
  width: 165px;
  height: 40px;

  border: none;
  border-radius: 4px;

  background-color: var(--color-primary);
  color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}

.footer-btn:hover {
  background-color: var(--color-success);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-icon {
  fill: var(--color-white);
}

/* =========================
   MODAL FORM 
========================= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px 24px;

  background-color: var(--color-modal-bg);
  border-radius: 4px;

  box-shadow:
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-div{
  margin-bottom: 8px;
}

.modal-close-btn {
  position: absolute;

  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;

  border: 1px solid #0000001a;
  border-radius: 50%;

  color: var(--color-accent);
  background-color: var(--color-accent);

  cursor: pointer;
}

.modal-close-icon {
  color: var(--color-overlay);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--color-dark);
  margin-bottom: 16px;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-label{
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;

  border: 1px solid var(--color-overlay);
  border-radius: 4px;
  background-color: transparent;

  padding-left: 38px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;

  top: 50%;
  left: 16px;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--color-primary);
}

.modal-input:focus + .modal-form-icon {
  fill: var(--color-primary);
}

.modal-textarea {
  width: 100%;
  height: 120px;

  background-color: transparent;
  color: var(--color-overlay);

  border: 1px solid var(--color-overlay);
  border-radius: 4px;

  padding: 8px 16px;
  resize: none;

  outline: transparent;
   font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  color: var(--color-overlay);
}

.modal-close-btn:hover{
  background-color: var(--color-primary-pressed);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-primary-pressed);
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--color-white);
}

.visually-hidden{
  width: 16px;
  height: 16px;

  border: 1px solid var(--color-overlay);
  border-radius: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-right: 8px;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--color-subtle-text);
}

.modal-checkbox-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-send-btn {
  display: block;

  min-width: 169px;
  height: 56px;

  margin: 0 auto;

  border: none;
  border-radius: 4px;

  background-color: var(--color-primary);
  color: var(--color-white);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--color-primary-pressed);
}
